<% if @over_ten %>
   <%= link_to 'Mostrar anteriores', '?m=all' %>
<% end %>

<div class="ui segment">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <div class="item">
        <div class="content">
          <div class="messages-header">
            <div id="message-<%=message.id %>"><strong><%= user.name %></strong> <%= message.message_time %></div>
          <script>
            validate_message('<%= message.body.gsub(/\r?\n/, " ") %>', '<%= message.signature %>')
                .then(function(response){
                    console.log("Validation response: ", response);
                    if (response){
                        document.getElementById("message-<%=message.id %>").innerHTML += "  <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\" style=\"color:palegreen\"></span>";
                    }else{
                        document.getElementById("message-<%=message.id %>").innerHTML += "  <span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\" style=\"color:indianred\"></span>";
                    }
            });
          </script>
          </div>
          <div class="list">
            <div class="item">
              <i class="right triangle icon"></i>
              <%= message.body %>
              <%= message.checkSignature %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div>
    <%= f.submit "Enviar", class: "btn btn-primary" %>
  </div>
<% end %>
