

<%= form_tag("/show", method: "get") do %>

  <div class="field">
    <%= label :id, "Secret ID" %>
    <%= text_field_tag :key %>
  </div>

  <div class="field">
    <%= label :plaintext, "or Plaintext" %>
    <%= text_field_tag :plaintext %>
  </div>

  <br>

  <div class="field">
    <%= label :algorithm, "Algorithm" %>
    <%= number_field_tag :algorithm %>
  </div>

  <div class="field">
    <%= label :key, "Key" %>
    <%= text_field_tag :key %>
  </div>

  <div class="field">
    <%= submit_tag("Decipher") %>
  </div>
<% end %>

