

<%= form_tag("/show", method: "get") do %>

  <div class="field">
    <%= label :id, "ID del Secreto" %>
    <%= text_field_tag :key %>
  </div>

  <div class="field">
    <%= label :ciphertext, "Ciphertext en hexadecimal" %>
    <%= text_field_tag :ciphertext %>
  </div>

  <br>

  <div class="field">
    <%= label :algorithm, "Algoritmo" %>
    <%= number_field_tag :algorithm %>
  </div>

  <div class="field">
    <%= label :key, "Llave" %>
    <%= text_field_tag :key %>
  </div>

  <div class="field">
    <%= submit_tag("Descifrar") %>
  </div>
<% end %>

