<p id="notice"><%= notice %></p>

<h1>Secretos</h1>

<table>
  <thead>
    <tr>
      <th>Texto cifrado</th>
      <th>Algoritmo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @secrets.each do |secret| %>
      <tr>
        <td><%= secret.ciphertext %></td>
        <td><%= @algorithm_name[secret.algorithm] %></td>
        <td><%= link_to 'Mostrar', secret %></td>
        <!-- <td><%= link_to 'Editar', edit_secret_path(secret) %></td> -->
        <!-- <td><%= link_to 'Eliminar', secret, method: :delete, data: { confirm: '¿Está seguro que desea eliminar el secreto?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo secreto', new_secret_path %> |
<%= link_to 'Atrás', root_path %>
