<p id="notice"><%= notice %></p>

<p>
  <strong>ID del Secreto:</strong>
  <%= @secret.id %>
</p>

<p>
  <strong>Texto cifrado:</strong>
  <%= @secret.ciphertext %>
</p>

<p>
  <strong>Algoritmo:</strong>
  <%= @algorithm_name[@secret.algorithm] %>
</p>


<% if not @key.nil? %>
<p>
  <strong>Texto descifrado:</strong>
  <%= CriptoAlgorithms.decrypt(@secret.algorithm, @secret.ciphertext, @key)%>
</p>
<% end %>


<%= form_tag(@secret, method: "get") do %>
  <div class="field">
    <%= label :key, "Llave" %>
    <%= text_field_tag :key %>
    <%= submit_tag("Descifrar") %>
  </div>
<% end %>

<!-- <%= link_to 'Editar', edit_secret_path(@secret) %> | -->
<%= link_to 'Atrás', secrets_path %>
