<p id="notice"><%= notice %></p>

<p>
  <strong>Secret ID:</strong>
  <%= @secret.id %>
</p>

<p>
  <strong>Ciphertext:</strong>
  <%= @secret.ciphertext %>
</p>

<p>
  <strong>Algorithm:</strong>
  <%= @algorithm_name[@secret.algorithm] %>
</p>


<% if not @key.nil? %>
<p>
  <strong>Deciphered text:</strong>
  <%= CriptoAlgorithms.decrypt(@secret.algorithm, @secret.ciphertext, @key)%>
</p>
<% end %>


<%= form_tag(@secret, method: "get") do %>
  <div class="field">
    <%= label :key, "Key" %>
    <%= text_field_tag :key %>
    <%= submit_tag("Decipher") %>
  </div>
<% end %>

<!-- <%= link_to 'Edit', edit_secret_path(@secret) %> | -->
<%= link_to 'Back', secrets_path %>
